#!/usr/bin/make -f

%:
	dh $@ --with python2

override_dh_auto_install:
	dh_auto_install -- --install-data /usr/share/letmenotifyu 

#override_dh_link:
#	dh_link   
#	ln -s /usr/share/letmenotifyu/share/applications/letmenotifyu.desktop /usr/share/applications/letmenotifyu.desktop 
#	ln -s /usr/share/letmenotifyu/ui/letmenotifyu.xpm /usr/share/pixmaps/letmenotifyu.xpm
