Package: letmenotifyu
Version: 3.7.7
Architecture: all
Maintainer: Lunga Mthembu <stumenz.complex@gmail.com>
Installed-Size: 849
Depends: python3 (>= 3.5), python3-litemigration (>= 1.0), python3-notify2 (>= 0.3), python3-bs4 (>= 4.3), python3-requests (>= 2.4), gir1.2-notify-0.7 (>= 0.7), python3-transmissionrpc (>= 0.11)
Section: unknown
Priority: optional
Homepage: https://github.com/stumenz/letmenotifyu/
Description: Notification for series and movies
 Application to notify users of new episodes from primewire.ag and movies from YIFY.
