Package: letmenotifyu
Version: 3.0.1-1
Architecture: all
Maintainer: Lunga Mthembu <complexstu@gmail.com>
Installed-Size: 782
Depends: python3 (>= 3.2), python3-litemigration (>= 1.0), python3-notify2 (>= 0.3), python3-bs4 (>= 4.3), python3-requests (>= 2.4), python3-psycopg2 (>= 2.5.4)
Section: unknown
Priority: optional
Homepage: https://github.com/stucomplex/letmenotifyu/
Description: Notification for series and movies
 Application to notify users of new episodes from primewire.ag and movies from YIFY.
